name: Xcode build iOS 16

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pods-
          
    - uses: actions/cache@v2
      name: "Cache: Swift Package Manager"
      with:
        path: ~/Library/Developer/Xcode/DerivedData/MessageApp-*/SourcePackages/
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: cache size
      run: |
        du -sh  ~/Library/Developer/Xcode/DerivedData/MessageApp-*

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_14.0.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Install Dependencies
      run: |
        pod install --repo-update
      shell: bash
    - name: Xcode iOS build
      run: |
        xcodebuild -workspace MessageApp.xcworkspace -scheme MessageApp -destination 'platform=iOS Simulator,name=iPhone 14 Pro,OS=16.0'
